
@{
    ViewBag.Title = "AssignDistributor";
}

<h2>Assign Person to Distribute The Food</h2>
<button class="pull-right btn btn-warning"><a href="/User/Logout">Logout</a></button>


<p>
    Restaurant Name: <b>@Model.Restaurant.Name</b><br />
    Food Type: <b>@Model.FoodType</b><br />
    Preserve Time (in hour): <b>@Model.PreserveTime</b><br />
    Request Time: <b>@Model.RequestTime</b><br />
    Food Collected By: <b>@Model.CollectionStaff.Name</b><br />
    Status: <b>@Model.Status</b><br />
</p>
<form action="" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    Assign employee to distribute: <select name="DistributeStaffId">
        <option value="">Select</option>
        @foreach (var s in ViewBag.Staff)
        {
            <option value=@s.Id>@($"{s.Id}_{s.Name}")</option>
        }
    </select><br />
    <input type="submit" value="Assign" class="btn btn-danger" />
</form>

