@{
    ViewBag.Title = "RestaurantHistory";
}
@*@model ZeroHunger_Asg.EF.Models.Restaurant*@

@{
    var res = (ZeroHunger_Asg.EF.Models.Restaurant)Session["restaurant"];
}

<h2>Contribution History for @res.Name</h2>
<button class="pull-right btn btn-warning"><a href="/User/Logout">Logout</a></button>

<table class="table">
    <tr>
        <th>Requested On</th>
        <th>Food Type</th>
        <th>Quantity (for person)</th>
        <th>Status</th>
        <th>Distribution Place</th>
    </tr>
    @foreach (var h in Model)
    {
        <tr>
            <td>@h.RequestTime.ToString("yyyy-MM-dd")</td>
            <td>@h.FoodType</td>
            <td>@h.Quantity</td>
            <td>@h.Status</td>
            <td>@h.DistributedOn</td>
        </tr>
    }

</table>

